@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
button{
    background:0;
    padding: 0;
    border: 0;
    outline: 0;
    position: relative;
    size: 1.25rem;
    font-family: 'Poppins';
    font-weight: 600;
    
}
.butts{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 3.125rem;
    margin-right: 2.1875rem;
    padding-top:1.875rem ;
}
/* buttons */
button .top{
    padding: 1.25rem;
    height: 100%;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.852rem;
    background-color: #D3D3D3;
    outline: 0.125rem solid rgb(55, 55, 55);
    z-index: 1;
}
button .bottom{
    padding-right: 2.5rem ;
    position: absolute;
    top: 1.25rem;
    left: 0rem;
    height: 100%;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.852rem;
    background-color: #a3a3a3;
    outline: 0.125rem solid rgb(55, 55, 55);
    z-index: -1;
}
button .bottom2{
    padding-right: 2.5rem ;
    position: absolute;
    top: 1.5625rem;
    left: -0.0625rem;
    height: 100%;
    width: calc(100% + 0.125rem);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.852rem;
    background-color: #a3a3a3;
    outline: 0.125rem solid rgb(55, 55, 55);
    z-index: -2;
}
.bottom::before{
content: "";
width: 0.1875rem;
height: 1.6875rem;
background: rgb(96,96,96);
position: absolute;
left: 17%;
bottom: 0rem;
}
.bottom::after{
content: "";
width: 0.1875rem;
height: 1.6875rem;
background: rgb(96, 96, 96);
position: absolute;
bottom: 0rem;
left: 83%;
}
button:active .top{
 transform: translateY(20px);
 transition: 0.1s;
}