@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.container{
    height: 100vh;
    flex-direction: column;
}
.head{
    padding-top: 5%;
    padding-bottom: 8%;
    flex: row;
    line-height: 0.1;
    height: 10vh;
}
.head #h1{
    font-size: 70px;
}
.head #des{
    font-size: 20px;
}
.contents{
    padding-top: 2px;
    height: 40vh;
    size: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 2%;
}
.contents #lab{
    font-size: 40px;
    display: flex;
    flex-direction: column;
}
.contents #inp{
    border-width: 5px;
    border-style: solid;
}
.contents input[type="text"]{
    font-size: 6vh ;
    background-color: #121212;
    border-radius: 10px;
    color: #D3D3D3;
}
/* footer{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 20px;
    pointer-events: none;
} */
#footDes{
padding: 0px;

}
 footer{
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: center;
    align-items: center;
    background: linear-gradient(to right, #101010,#101010,#101010,#101010, #2d0057);
    font-family: 'Roboto Mono';
} 
