@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
justify-content: center;
align-items: center;
text-align: center;
background-color: #121212;
color: #D3D3D3;
height: 100%;
width: 100%;
overflow: hidden;
margin: 0;
margin-bottom: 0;
padding-bottom: 0;
font-family: 'Poppins';
}
@media screen and (min-width: 600px) {    
/* .vpBorder{
    display: block;
    position: absolute;
    align-content: center;
    margin: 0;
    top: 0;
    left:50vw;
    height: 100vh;
    width: 1vw;
    box-shadow: inset 0 0 0 5px #D3D3D3; 
}*/
}
input[type="text"]:focus {
  outline: none;
  text-align: center;
  font-family: 'Poppins';
}
/* for phones*/
@media screen and (max-width: 600px){
.butts{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 4.375rem;
    margin-right: 2.1875rem;
}
}